#map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 30%;
        margin: 0;
        padding: 0;
      }

.profile-photo{
	/*max-width: 100%;
  height: auto;*/
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid #282923;
}