body{
	font-family: 'PT Sans', sans-serif;
	background-color: #E7ECEF;
		/*text-align: center;*/
		/*width: auto;*/
		/*margin: 0 auto;*/
}

.profile-photo{
	/*max-width: 100%;
  height: auto;*/
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid #282923;
}

.card-img{
	/*float: left;*/
	width: 100%;
	height: 150px;
	object-fit: cover;

	/*height: 100px;
	width: 100%;*/
  /*border: 2px solid #282923;*/
}

.side-profile-photo{

	border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid #282923;
}

.dash-board {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px !important;
	/*padding: 10px;*/
	margin: 10px;
	padding-left: 35px;
	padding-right: 35px;
}

.dash-board-left {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px !important;
	/*padding: 10px;*/
	margin: 10px;
}

.navbar{
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px !important;
	padding: 10px;
}



.card{
	width: 250px;
	height: 300px;
	border: 1px solid #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px !important;
	/*border-radius: 30px;*/

	margin-right: 4px;
	margin-bottom: 20px;
	cursor: grab;
}

#search-bar{
	width: 800px;
}